* {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 45px;
    margin-bottom: 30px;
    color: green;
}

li.features::marker {
    font-size: 1.5em;
}

.features {
    margin-bottom: 15px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block {
   margin: 50px 40px 30px 40px;
}



